<div class="container" ng-Controller="ChatController">
<form ng-submit="addMessage()" name="ChatMsg">
<table>
<tr>
<td><font color="red"><h4>Chat Text {{max}}</h4></font></td>
<td>
<input type="text" placeholder="Type message here" ng-model="message"/>
<span class="count" ng-bind="max-message.length">140</span>
</td>
<td>
<button ng-disabled="message.length>140 || message.length==0" class="btn btn-primary active">Send Message</button>
</td>
</tr>
</table>
</form>
<br/> <br/>
<div class="row valign-wrapper">
<div class="col s6 offset-s3 valign">
<div class="card blue-grey darken-1">
<div class="card-content white-text">
<p ng-repeat="message in messages|orderBy:'time':true">
<time>{{message.time|date:HH:MM}}</time>
<span>{{message.message}}</span>
</p>
</div>
</div>
</div>
</div>
</div>