<div class="container" ng-controller="BlogController">

<div class="row" ng-repeat="blog in blogData">
<div class="col s12 m6">
<div class="card yellow darken-7">
<div class="card-content pink-text">
<button data-target="#{{blog.blogId}}" class="btn btn-success" data-toggle="collapse">{{blog.blogName}}</button>
	
<button class="btn btn-primary active" ng-show="blog.status=='NA'" ng-click="approve(blog.blogId)">APPROVE</button>	
	
<button class="btn btn-danger" ng-show="blog.status=='A'" ng-click="reject(blog.blogId)">REJECT</button>		
	
	<div id="{{blog.blogId}}" class="collapse">
	<font size="3">
	{{blog.blogContent}}
	</font>
	</div>
</div>
</div>
</div>
</div>
</div>