<div class="container" ng-controller="ForumController">

<div class="row" ng-repeat="forum in forumData">
<div class="col s12 m6">
<div class="card yellow darken-7">
<div class="card-content pink-text">
<button data-target="#{{forum.forumId}}" class="btn btn-success" data-toggle="collapse">{{forum.forumName}}</button>
	
<button class="btn btn-primary active" ng-show="forum.status=='NA'" ng-click="approveForums(forum.forumId)">APPROVE FORUM</button>	
	
<button class="btn btn-danger" ng-show="forum.status=='A'" ng-click="rejectForums(forum.forumId)">REJECT FORUM</button>		
	
	<div id="{{forum.forumId}}" class="collapse">
	<font size="3">
	{{forum.forumContent}}
	</font>
	</div>
</div>
</div>
</div>
</div>
</div>